<header>
	<div id="header-title"><span>header</span></div>
	<div id="header-content">
		<div id="header-selections">
			<ul>
				<li bind="index"><a href="/index.html"><span>Home</span></a></li>
				<li bind="info"><a href="/pages/info.html"><span>Schools</span></a></li>
				<li bind="prof"><a href="/pages/prof.html"><span>Pros</span></a></li>
				<li bind="rank"><a href="/pages/rank.html"><span>Ranks</span></a></li>
				<li bind="news"><a href="/pages/news.html"><span>News</span></a></li>
				<li bind="tips"><a href="/pages/tips.html"><span>Tips</span></a></li>
			</ul>
		</div>
		
		<div id="header-lists">
			<ul>
				<li><span>Me2</span></li>
				<li><span>Me</span>
					<ul class="header-item-list">
						<li class="selected">entry1</li>
						<li>entry2</li>
						<li>entry3</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</header>
<main>
	this is main
</main>
<footer>
	this is footer
</footer>
<script src="/scripts/controller/fragments/frame.js"></script>