<header>
	<div id="header-title"><span>德国商学院</span></div>
	<div id="header-content">
		<div id="header-selections">
			<ul>
				<li bind="index"><a href="/index.html"><span>主页</span></a></li>
				<!-- <li bind="info"><a href="/pages/info.html"><span>Schools</span></a></li> -->
				<!-- <li bind="prof"><a href="/pages/prof.html"><span>Pros</span></a></li> -->
				<li bind="rank"><a href="/pages/rank.html"><span>院校排名</span></a></li>
				<!-- <li bind="news"><a href="/pages/news.html"><span>新闻资讯</span></a></li> -->
				<!-- <li bind="tips"><a href="/pages/tips.html"><span>选校指南</span></a></li> -->
			</ul>
		</div>
		
		<!-- <div id="header-lists">
			<ul>
				<li><span>Me2</span></li>
				<li><span>Me</span>
					<ul class="header-item-list">
						<li class="selected">entry1</li>
						<li>entry2</li>
						<li>entry3</li>
					</ul>
				</li>
			</ul>
		</div> -->
	</div>
</header>
<script src="/scripts/controller/fragments/header.js"></script>