<header>
	<div id="header-title"><span>德国商学院</span></div>
	<div id="header-content">
		<div id="header-selections">
			<ul>
				<li bind="index" routerLink="/index"><a><span>首页</span></a></li>
				<li bind="rank" routerLink="/rank"><a><span>学校</span></a></li>
				<li bind="news" routerLink="/news"><a><span>新闻</span></a></li>
				<li bind="tips" routerLink="/tips"><a><span>小贴士</span></a></li>
			</ul>
		</div>
		
		<div id="header-lists">
			<!-- <ul>
				<li><span>Me2</span></li>
				<li><span>Me</span>
					<ul class="header-item-list">
						<li class="selected">entry1</li>
						<li>entry2</li>
						<li>entry3</li>
					</ul>
				</li>
			</ul> -->
		</div>
	</div>
</header>
<main>
	<router-outlet></router-outlet>
</main>

<footer>
	面向德国商学院留学的网站
</footer>
