<div class="school-info-box">
	<div class="school-img-box">
		<img src="/assets/img/school_head.png" alt="">
	</div>
	<div class="school-info-details">
		<h2>{{school.name}}</h2>
		<div class="school-info-data">
			<ul>
				<li>
					<div>
						<h4>QS世界排名</h4>
						<span>{{school.qs}}</span>
					</div>
				</li>
				<li>
					<div>
						<h4>学士项目数</h4>
						<span>{{school.beforeGrad}}</span>
					</div>
				</li>
				<li>
					<div>
						<h4>硕士项目数</h4>
						<span>{{school.afterGrad}}</span>
					</div>
				</li>
				<li>
					<div>
						<h4>头牌专业</h4>
						<span>{{school.best}}</span>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="page-content">
	<div class="page-content-changer">
		<ul>
			<li class="selected" (click)="changeTarget($event, 'description')"><a><span>简介</span></a></li>
			<li (click)="changeTarget($event, 'underGraduate')"><a><span>研究生</span></a></li>
			<li (click)="changeTarget($event, 'postGraduate')"><a><span>博士生</span></a></li>
		</ul>
	</div>
	<div class="page-content-content">
		<div class="page-content-block display" target="description">
			<p>
					{{school.detail}}
			</p>
		</div>
		<div class="page-content-block" target="underGraduate">
			<div class="table-container">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class=""><span class="table-ranking">排名</span></th>
							<th class="">院校</th>
							<th class="">授课语言</th>
							<th class="">语言成绩</th>
							<th class="">GMAT</th>
							<th class="">学历背景</th>
							<th class="">学费</th>
						</tr>
					</thead>
					<tbody class="school-table">
						<tr target="1" routerLink="/detail/1">
							<td>1</td>
							<td>商学研究生</td>
							<td>德语</td>
							<td>8</td>
							<td>100</td>
							<td>985</td>
							<td>123123</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="page-content-block" target="postGraduate">
			<div class="table-container">
				<table border="0" cellpadding="0" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th class=""><span class="table-ranking">排名</span></th>
							<th class="">院校</th>
							<th class="">授课语言</th>
							<th class="">语言成绩</th>
							<th class="">GMAT</th>
							<th class="">学历背景</th>
							<th class="">学费</th>
						</tr>
					</thead>
					<tbody class="school-table">
						<tr target="1" routerLink="/detail/1">
							<td>1</td>
							<td>商学博士生</td>
							<td>德语</td>
							<td>10</td>
							<td>102</td>
							<td>985</td>
							<td>123123</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>