.slide {
	margin: 0 auto;
	width: 1000px;
	height: 648px;

	background: url("/assets/img/slide.jpg") no-repeat;
	background-size: 100%;
}

.slide-actions {
	margin-top: 50px;
	height: 52px;
	width: 100%;
	display: flex;
}

.slide-action{
	margin-right: 15px;
	width: 100px;
	height: 50px;
	line-height: 50px;

	border-radius: 3px;

	text-align: center;
	font-size: 12px;
	text-shadow: none;
}

.slide-action:hover{
	cursor: pointer;
}

.slide-action-sub{
	background-color: #FFFFFF;
	color: #3D7DA6;
}

.slide-action-main{
	background-color: #3D7DA6;
	color: #FFFFFF;
}

.slide-content {
	height: 100%;
	width: 400px;

	padding-top: 180px;
	padding-left: 50px;

	color: #fff;
	text-shadow: 2px 2px 5px rgb(63, 63, 63);

	background-color: rgba(0, 0, 0, 0.2);
}