<div class="table-container">
	<h1 class="table-title">排名</h1>
	<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th class=""><span class="table-ranking">排名</span></th>
				<th class="">院校</th>
				<th class="">授课语言</th>
				<th class="">语言成绩</th>
				<th class="">GMAT</th>
				<th class="">学历背景</th>
				<th class="">学费</th>
			</tr>
		</thead>
		<tbody class="school-table">
			<tr target="1">
				<td>1</td>
				<td>科隆商学院</td>
				<td>德语</td>
				<td>8</td>
				<td>100</td>
				<td>985</td>
				<td>123123</td>
			</tr>
		</tbody>
	</table>
</div>
<script src="/scripts/controller/fragments/school/list.js"></script>
